body {
  margin: 0;
  padding: 0;
  background-color: brown;
}

#main-container {
  background-color: wheat;
  padding: 3%;
  margin: 0 auto 0 auto;
  width: 80%;

  border-radius: 50px;
}

.flex {
  display: flex;
}
