body {
  margin: 0;
  padding: 0;
  background-color: brown;
  color: white;
}

#main-container {
  background-color: rgb(9, 0, 92);
  padding: 3%;
  margin: 0 auto 0 auto;
  width: 80%;

  border-radius: 30px;
  height: 85vh;
}

#palpites-div {
  margin: 3% 0 3% 0;
  padding: 3% 5% 3% 5%;
  border-radius: 5px;
}

#secao-externa {
  height: 85%;
}

#pontuacoes {
  width: 80%;
  margin: 0 auto 0 auto;
  justify-content: space-around;
}

.secao {
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0.5px rgb(0, 1, 61);
}

.sombra {
  box-shadow: 0 5px 10px 0.5px rgb(0, 1, 61);
}

.azul-escuro {
  background-color: rgb(9, 0, 92);
}

.azul {
  background-color: blue;
}

.azul-claro {
  background-color: rgb(3, 0, 151);
}

.azul-claro-2 {
  background-color: rgb(45, 66, 255);
}

.card {
  padding: 0 3% 1% 3%;
  border-radius: 15px;
}

.card-pontuacao {
  background-color: rgb(3, 0, 151);
  box-shadow: 0 5px 10px 0.5px rgb(0, 1, 61);
  width: 20%;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
}

.margem-x-3px {
  margin-left: 2px;
  margin-right: 2px;
}

.margem-y-2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.margem-r-4 {
  margin-right: 4%;
}

.margem-l-4 {
  margin-left: 4%;
}

.space-between {
  justify-content: space-between;
}

.altura-card-1 {
  height: 10rem;
}

.input {
  padding: 6%;
  border: 1px solid rgb(0, 0, 151);
  background-color: rgb(193, 193, 255);
  color: rgb(0, 0, 151);
  border-radius: 7px;
  box-shadow: 0 5px 10px 0.5px rgb(0, 1, 61);
}

.btn {
  margin-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  border: none;
  border-radius: 5%;
  background-color: rgb(0, 0, 192);
  color: white;
  box-shadow: 0 5px 10px 0.5px rgb(0, 1, 61);
}

.y-padding {
  padding-top: 2%;
  padding-bottom: 2%;
}

.centraliza {
  display: flex;
  margin: 0 auto 0 auto;
}

.centraliza-boneco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-30 {
  height: 30%;
}

.flex {
  display: flex;
}

.dividir {
  width: 50%;
}

.borda {
  border: 2px solid black;
}

.circulo {
  height: 4rem;
  width: 4rem;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.retangulo-1 {
  height: 7rem;
  width: 2rem;
  background-color: black;
}
.retangulo-2 {
  height: 7rem;
  width: 1.5rem;
  background-color: black;
}
